@font-face {
  font-family: "Karla";
  src: url("/fonts/KarlaRegular.woff2") format("woff2"),
    url("/fonts/KarlaRegular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Karla";
  src: url("/fonts/KarlaBold.woff2") format("woff2"),
    url("/fonts/KarlaBold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

:root {
  --ff-default: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --ff-primary: "Karla", var(--ff-default);

  --clr-primary-cyan-100: 179 62% 43%;
  --clr-primary-cyan-200: 179 61% 44%;

  --clr-primary-yellow: 71 73% 54%;

  --clr-neutral-100: 204 43% 93%;
  --clr-neutral-200: 218 22% 67%;
  --clr-neutral-300: 179 61% 65%;
  --clr-white: 0 100% 100%;
}

body {
  font-family: var(--ff-primary);
  background-color: hsl(var(--clr-neutral-100));
}

#root {
  min-height: 100svh;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100svh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
